.cart {
    padding-top: 96px;
    padding-bottom: 128px;

    &__wrapper {
        display: flex;

    }

    &__products {
        width: 652px;

        &-footer {
            display: flex;
            justify-content: space-between;
            margin-top: 72px;

            button,
            a {
                color: #000;
                padding: 17px 41px;
                background-color: transparent;
                text-transform: uppercase;
                border: 1px solid #A4A4A4;
                cursor: pointer;
                outline: none;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;

            }
        }
    }

    &__product-item {
        display: flex;
        height: 306px;
        margin-bottom: 40px;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

        &-desc {
            width: 100%;
            padding: 22px 22px 22px 32px;

            &-header {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                & h2 {
                    max-width: 262px;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 29px;

                    color: #222222;
                }

                & button {
                    outline: none;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }

            }

            &-main {
                ul {
                    list-style: none;
                    padding: 42px 0 62px;

                    li {
                        font-weight: normal;
                        font-size: 22px;
                        line-height: 26px;
                        padding: 6px 0;

                        color: #575757;

                        & .price {
                            color: #EF5B70;
                        }

                        & .quantity {
                            width: 50px;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 22px;
                            color: #656565;
                            text-align: center;
                            border: 1px solid #EAEAEA;
                            margin-left: 24px;
                        }
                    }
                }


            }
        }

    }

    &__form {
        margin-left: 128px;
        width: 360px;

        & fieldset {

            border: none;
            text-transform: uppercase;

            & input {
                width: 100%;
                padding: 13px 17px;
                margin-top: 20px;
                text-align: left;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #222;
                outline: none;

                &:focus {

                    color: #B1B1B1;
                }
            }

            & button {
                margin-top: 20px;
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
                background-color: transparent;
                text-transform: uppercase;
                border: 1px solid #A4A4A4;
                cursor: pointer;
                outline: none;
                padding: 10px 14px;
            }
        }


        &-total {
            margin-top: 57px;
            background-color: #F5F3F3;
            padding: 39px 43px 42px 44px;

            & p {
                text-align: right;
                color: #4A4A4A;
            }

            &-sub {
                font-weight: normal;
                font-size: 11px;
                line-height: 13px;
                margin-bottom: 12px;

                & span {
                    margin-left: 16px;

                    &:before {
                        content: '$';
                    }
                }
            }

            &-grand {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 23px;
                color: #222222;

                & span {
                    margin-left: 16px;
                    color: #F16D7F;
                    font-weight: bold;

                    &:before {
                        content: '$';


                    }
                }
            }
        }

        &-checkout {
            border-top: 1px solid #E2E2E2;
            padding: 15px 0;
            box-sizing: border-box;

            & input {
                padding: 15px 41px;
                background-color: #F16D7F;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                outline: none;
                color: #FFFFFF;
                border: none;
                cursor: pointer;
            }
        }

    }


}