.header {
    &__menu {

        z-index: -1;
        position: absolute;
        top: 73px;
        right: 0;
        width: 232px;
        height: calc(100vh - 73px);
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        overflow-y: auto;
        opacity: 0;
        transition: 1s ease;


        &-wrapper {


            position: relative;
            color: #000;
            padding: 32px;




            & h2 {
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
            }


            & .close {
                position: absolute;
                top: 16px;
                right: 16px;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;

            }
        }

        &-cat {
            padding-top: 24px;
            color: #ccc;
            list-style: none;

            & h3 {
                color: #F16D7F;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
            }

        }

        &-item {
            list-style: none;
            padding-top: 11px;
            padding-left: 24px;




            & a {
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;

                color: #6F6E6E;
            }

        }
    }
}