.subscribe-row {
    background: url(img/subscribe-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 448px;
}

.subscribe-opacity {
    background-color: rgba(244, 244, 244, 0.7);
    height: 100%;
}

.subscribe-wrapper {
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.subscribe-left {
    max-width: 360px;
    text-align: center;
    color: #222224;
    font-weight: normal;
}

.subscribe-woman-photo {
    padding: 30px;
    max-width: 96px;
    height: auto;
}

.subscribe-woman-text {

    font-size: 20px;
    line-height: 24px;

}


.subscribe-right {
    max-width: 557px;
    text-align: center;
    margin-right: 90px;
}

.subcribe-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
    padding: 32px;
}

.subscribe-desc {
    display: block;
    font-size: 18px;
    color: #222224;
    line-height: 30px;
    color: #222224;
    font-weight: 400;
}

.subcribe-form {
    width: 356px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.subcribe-form-email {
    background: #E1E1E1;
    padding: 14px;
    border: none;
    border-radius: 30px 0 0 30px;
    outline: none;
    flex-grow: 3;


}


.subcribe-form-submit {
    border: none;
    padding: 14px;
    background-color: #E05C6E;
    color: #fff;
    border-radius: 0 30px 30px 0;
    cursor: pointer;

}