* {
  margin: 0;
  padding: 0;
  font-family: lato;
  text-decoration: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-row {
  background-color: #222;
  padding: 16px 0;
  color: #E8E8E8;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper a {
  text-decoration: none;
}

.header-logo {
  margin-right: 41px;
}

.header-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-info-right-img:not(:first-child) {
  margin-left: 30px;
}

.promo-row {
  background-color: #F1E4E6;
  background-image: url(img/bg-promo.png);
  background-repeat: no-repeat;
  background-position: 147px 0px;
  height: 764px;
}

.promo-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo-title {
  max-width: 405px;
  font-family: Lato;
  font-style: normal;
  color: #222222;
  margin-right: 100px;
  padding-left: 20px;
  border-left: 12px solid #F16D7F;
}

.promo-title-h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
}

.promo-subtitle-h1 {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.promo-subtitle-h1-pink {
  color: #F16D7F;
}

.categories-wall-row {
  margin-top: 65px;
}

.categories-wall-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-wall-item {
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.categories-wall-item:not(:last-child) {
  height: 260px;
  width: 360px;
  margin-bottom: 30px;
}

.categories-wall-item-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 22, 22, 0.7);
}

.categories-wall-item-subtitle {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.categories-wall-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.fetured-items-row {
  margin-top: 96px;
}

.fetured-items-card-img-wrapper {
  width: 100%;
  position: relative;
}

.fetured-items-card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  padding: 16px;
  color: #fff;
  cursor: pointer;
}

.fetured-items-card-btn:before {
  content: url(img/cart.svg);
  width: 26px;
  height: auto;
  padding-right: 16px;
}

.fetured-items-card-img-layer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(58, 56, 56, 0.86);
  display: none;
}

.fetured-items-card-img-wrapper:hover .fetured-items-card-img-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetured-items-title-wrapper {
  margin-bottom: 48px;
  text-align: center;
}

.fetured-items-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.fetured-items-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.fetured-items-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fetured-items-card-item {
  width: 360px;
  height: 582px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fetured-items-card-title-wrapper {
  padding: 16px;
}

.fetured-items-card-title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.fetured-items-card-description {
  font-style: normal;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.fetured-items-card-price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-bottom: 4px;
}

.fetured-items-footer {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fetured-items-footer-btn {
  display: inline-block;
  padding: 15px 39px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  text-decoration: none;
}

.benefits-row {
  margin-top: 95px;
  background: #222224;
  max-height: 341px;
}

.benefits-wrapper {
  max-height: 341px;
  padding: 104px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-item {
  max-width: 360px;
  text-align: center;
}

.benefits-title {
  font-size: 19.96px;
  line-height: 24px;
  /* identical to box height */
  color: #FBFBFB;
  padding-bottom: 16px;
}

.benefits-title:before {
  content: '';
  width: 100px;
  height: auto;
  display: block;
  margin: 25px auto;
}

.benefits-item:nth-child(1):before {
  content: url(img/car.svg);
}

.benefits-item:nth-child(2):before {
  content: url(img/procent.svg);
}

.benefits-item:nth-child(3):before {
  content: url(img/king.svg);
}

.benefits-desc {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  font-style: normal;
  color: #FBFBFB;
}

.subscribe-row {
  background: url(img/subscribe-bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 448px;
}

.subscribe-opacity {
  background-color: rgba(244, 244, 244, 0.7);
  height: 100%;
}

.subscribe-wrapper {
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscribe-left {
  max-width: 360px;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.subscribe-woman-photo {
  padding: 30px;
  max-width: 96px;
  height: auto;
}

.subscribe-woman-text {
  font-size: 20px;
  line-height: 24px;
}

.subscribe-right {
  max-width: 557px;
  text-align: center;
  margin-right: 90px;
}

.subcribe-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
  padding: 32px;
}

.subscribe-desc {
  display: block;
  font-size: 18px;
  color: #222224;
  line-height: 30px;
  color: #222224;
  font-weight: 400;
}

.subcribe-form {
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.subcribe-form-email {
  background: #E1E1E1;
  padding: 14px;
  border: none;
  border-radius: 30px 0 0 30px;
  outline: none;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.subcribe-form-submit {
  border: none;
  padding: 14px;
  background-color: #E05C6E;
  color: #fff;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
}

.footer-row {
  background-color: #222224;
  color: #FBFBFB;
  padding: 18px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer-socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  margin: 5px;
  background-color: #fff;
}

.footer-socials-item-img {
  fill: #000;
}

.footer-socials-item:hover {
  background: #F16D7F;
}

.footer-socials-item:hover .footer-socials-item-img {
  fill: #fff;
}

.new-arrivals-row {
  background-color: #F8F3F4;
}

.new-arrivals-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
  text-transform: uppercase;
}

.new-arrivals-title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.new-arrivals-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.new-arrivals-breadcrumbs-item a {
  padding: 0 3px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.new-arrivals-breadcrumbs .active {
  font-weight: bold;
  color: #F16D7F;
}

.new-arrivals-breadcrumbs-item:not(:last-child)::after {
  content: ' / ';
  padding-right: 5px;
}

.catalog-header-wrapper {
  padding: 50px 16px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

details summary {
  list-style: none;
}

.catalog-filter-main summary {
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
}

.catalog-filter-main summary::after {
  content: url(img/catalog/filter_main.svg);
  padding-right: 10px;
  padding-left: 5px;
}

.catalog-filter-advanced {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  list-style: none;
  cursor: pointer;
}

.catalog-filter-advanced-item summary::after {
  content: url(img/catalog/filter_advanced.svg);
  padding-right: 18px;
  padding-left: 8px;
}

.catalog-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-bottom: 96px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.pagination-item {
  padding: 12px;
}

.pagination-item a {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagination-item.active a,
.pagination-item a:hover {
  color: #EF5B70;
}

.top-product-row {
  padding-top: 128px;
  padding-bottom: 128px;
}

.product-img-wrapper {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  position: relative;
}

.product-img-item img {
  max-height: 724px;
}

.product-wrapper {
  position: relative;
}

.product-slide-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.product-slide-btn {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  color: #000;
  outline: none;
  border: none;
  cursor: pointer;
}

.product-desc-row {
  position: relative;
  margin-top: -54px;
  border: 1px solid #EAEAEA;
  background-color: #fff;
}

.product-desc-wrapper {
  padding: 64px 0;
  max-width: 642px;
  text-align: center;
  margin: 0 auto;
}

.product-category {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.product-category:after {
  display: block;
  content: '';
  border-bottom: 3px solid #F16D7F;
  width: 63px;
  margin: 12px auto;
}

.product-namme {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.product-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 32px;
  color: #5E5E5E;
}

.product-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 64px;
  color: #EF5B70;
}

.product-desc-wrapper hr {
  border: 1px solid #eaeaea;
  margin-bottom: 64px;
}

.product-purcharse-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  border: none;
  outline: none;
  padding: 16px 32px;
  margin: 16px;
  cursor: pointer;
}

.btn-product-cart {
  margin-top: 63px;
  border: 1px solid #FF6A6A;
  background-color: #fff;
  color: #F26376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 57px 8px 24px;
}

.btn-product-cart:before {
  content: url(img/cart_product.svg);
  margin-right: 22px;
}

.product .catalog-filter-advanced {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
/*# sourceMappingURL=style.css.map */