* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;

}

.header-row {
    background-color: #222;
    padding: 16px 0;
    color: #E8E8E8;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper a {
    text-decoration: none;
}

.header-logo {
    margin-right: 41px;
}

.header-info-right {
    display: flex;
    align-items: center;

}

.header-info-right-img:not(:first-child) {
    margin-left: 30px;
}

.promo-row {
    background-color: #F1E4E6;
    background-image: url(img/bg-promo.png);
    background-repeat: no-repeat;
    background-position: 147px 0px;
    height: 764px;

}

.promo-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.promo-title {

    max-width: 377px;
    font-family: Lato;
    font-style: normal;
    color: #222222;
    margin-right: 100px;
    padding-left: 20px;
    border-left: 12px solid #F16D7F;

}

.promo-title-h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;

}

.promo-title-h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39;
}

.promo-title-h2-pink {
    color: #F16D7F;
}

.categories-wall-row {
    margin-top: 65px;
}

.categories-wall-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.categories-wall-item {
    height: 180px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.categories-wall-item:not(:last-child) {
    height: 260px;
    width: 360px;
    margin-bottom: 30px;

}

.categories-wall-item-shadow {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 22, 22, 0.7);
}

.categories-wall-item-subtitle {

    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.categories-wall-item-title {

    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.fetured-items-row {
    margin-top: 96px;

}

.fetured-items-title-wrapper {
    margin-bottom: 48px;
    text-align: center;
}




.fetured-items-title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
}

.fetured-items-subtitle {

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
}



.fetured-items-card-wrapper {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.fetured-items-card-item {
    width: 360px;
    height: 582px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.fetured-items-card-title-wrapper {
    padding: 16px;
}

.fetured-items-card-title {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 12px;
}

.fetured-items-card-description {
    font-style: normal;
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #5D5D5D;
}

.fetured-items-card-price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #F16D7F;

    margin-bottom: 4px;
}

.fetured-items-footer {
    margin-top: 18px;
    text-align: center;
    margin-bottom: 95px;
}

.fetured-items-footer-btn {
    display: inline-block;
    padding: 15px 39px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    text-decoration: none;
}