* {
  margin: 0;
  padding: 0;
  font-family: lato;
  text-decoration: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-row {
  background-color: #222;
  padding: 16px 0;
  color: #E8E8E8;
  position: relative;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper a {
  text-decoration: none;
}

.header-logo {
  margin-right: 41px;
}

.header-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-info-right-img:first-child {
  display: inline-block;
  cursor: pointer;
}

.header-info-right-img:not(:first-child) {
  margin-left: 30px;
}

.header-info-right-img.cart span {
  position: relative;
  top: -21px;
  left: -7px;
  border-radius: 50%;
  background: #F16D7F;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding: 2px 6px;
}

.header-info-right-img.burger {
  width: 32px;
  border-top: 2px solid #e8e8e8;
  display: inline-block;
  margin-top: 8px;
}

.header-info-right-img.burger:before {
  content: '';
  width: 32px;
  border-top: 2px solid #e8e8e8;
  display: block;
  margin-top: 8px;
}

.header-info-right-img.burger:after {
  content: '';
  width: 32px;
  display: block;
  border-bottom: 2px solid #e8e8e8;
  margin-top: 8px;
}

#burgerMenu {
  display: none;
}

#burgerMenu:checked ~ .header__menu {
  z-index: 2;
  opacity: 1;
}

.header__menu {
  z-index: -1;
  position: absolute;
  top: 73px;
  right: 0;
  width: 232px;
  height: calc(100vh - 73px);
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.header__menu-wrapper {
  position: relative;
  color: #000;
  padding: 32px;
}

.header__menu-wrapper h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.header__menu-wrapper .close {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__menu-cat {
  padding-top: 24px;
  color: #ccc;
  list-style: none;
}

.header__menu-cat h3 {
  color: #F16D7F;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.header__menu-item {
  list-style: none;
  padding-top: 11px;
  padding-left: 24px;
}

.header__menu-item a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.promo-row {
  background-color: #F1E4E6;
  background-image: url(img/bg-promo.png);
  background-repeat: no-repeat;
  background-position: 147px bottom;
  height: calc(100vh - 73px);
}

.promo-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo-title {
  max-width: 405px;
  font-family: Lato;
  font-style: normal;
  color: #222222;
  margin-right: 100px;
  padding-left: 20px;
  border-left: 12px solid #F16D7F;
}

.promo-title-h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
}

.promo-subtitle-h1 {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.promo-subtitle-h1-pink {
  color: #F16D7F;
}

.categories-wall-row {
  margin-top: 65px;
}

.categories-wall-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-wall-item {
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.categories-wall-item:not(:last-child) {
  height: 260px;
  width: 360px;
  margin-bottom: 30px;
}

.categories-wall-item-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 22, 22, 0.7);
}

.categories-wall-item-subtitle {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.categories-wall-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.fetured-items-row {
  margin-top: 96px;
}

.fetured-items-card-img-wrapper {
  width: 100%;
  position: relative;
}

.fetured-items-card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  padding: 16px;
  color: #fff;
  cursor: pointer;
}

.fetured-items-card-btn:before {
  content: url(img/cart.svg);
  width: 26px;
  height: auto;
  padding-right: 16px;
}

.fetured-items-card-img-layer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(58, 56, 56, 0.86);
  display: none;
}

.fetured-items-card-img-wrapper:hover .fetured-items-card-img-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetured-items-title-wrapper {
  margin-bottom: 48px;
  text-align: center;
}

.fetured-items-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.fetured-items-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.fetured-items-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fetured-items-card-item {
  width: 360px;
  height: 582px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fetured-items-card-title-wrapper {
  padding: 16px;
}

.fetured-items-card-title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.fetured-items-card-description {
  font-style: normal;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.fetured-items-card-price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-bottom: 4px;
}

.fetured-items-footer {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fetured-items-footer-btn {
  display: inline-block;
  padding: 15px 39px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  text-decoration: none;
}

.benefits-row {
  margin-top: 95px;
  background: #222224;
  max-height: 341px;
}

.benefits-wrapper {
  max-height: 341px;
  padding: 104px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-item {
  max-width: 360px;
  text-align: center;
}

.benefits-title {
  font-size: 19.96px;
  line-height: 24px;
  /* identical to box height */
  color: #FBFBFB;
  padding-bottom: 16px;
}

.benefits-title:before {
  content: '';
  width: 100px;
  height: auto;
  display: block;
  margin: 25px auto;
}

.benefits-item:nth-child(1):before {
  content: url(img/car.svg);
}

.benefits-item:nth-child(2):before {
  content: url(img/procent.svg);
}

.benefits-item:nth-child(3):before {
  content: url(img/king.svg);
}

.benefits-desc {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  font-style: normal;
  color: #FBFBFB;
}

.subscribe-row {
  background: url(img/subscribe-bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 448px;
}

.subscribe-opacity {
  background-color: rgba(244, 244, 244, 0.7);
  height: 100%;
}

.subscribe-wrapper {
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscribe-left {
  max-width: 360px;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.subscribe-woman-photo {
  padding: 30px;
  max-width: 96px;
  height: auto;
}

.subscribe-woman-text {
  font-size: 20px;
  line-height: 24px;
}

.subscribe-right {
  max-width: 557px;
  text-align: center;
  margin-right: 90px;
}

.subcribe-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
  padding: 32px;
}

.subscribe-desc {
  display: block;
  font-size: 18px;
  color: #222224;
  line-height: 30px;
  color: #222224;
  font-weight: 400;
}

.subcribe-form {
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.subcribe-form-email {
  background: #E1E1E1;
  padding: 14px;
  border: none;
  border-radius: 30px 0 0 30px;
  outline: none;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.subcribe-form-submit {
  border: none;
  padding: 14px;
  background-color: #E05C6E;
  color: #fff;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
}

.footer-row {
  background-color: #222224;
  color: #FBFBFB;
  padding: 18px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer-socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  margin: 5px;
  background-color: #fff;
}

.footer-socials-item-img {
  fill: #000;
}

.footer-socials-item:hover {
  background: #F16D7F;
}

.footer-socials-item:hover .footer-socials-item-img {
  fill: #fff;
}

.top-head-row {
  background-color: #F8F3F4;
}

.top-head-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
  text-transform: uppercase;
}

.top-head-title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.top-head-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.top-head-breadcrumbs-item a {
  padding: 0 3px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.top-head-breadcrumbs .active {
  font-weight: bold;
  color: #F16D7F;
}

.top-head-breadcrumbs-item:not(:last-child)::after {
  content: ' / ';
  padding-right: 5px;
}

.catalog-header-wrapper {
  padding: 50px 0px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

details summary {
  list-style: none;
}

.catalog-filter-main {
  width: 360px;
  position: absolute;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 17px;
}

.catalog-filter-main[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #fff;
  top: -10px;
  padding: 10px 17px;
}

.catalog-filter-main summary {
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
}

.catalog-filter-main[open] .catalog-filter-main-title {
  color: #EF5B70;
  margin-bottom: 16px;
}

.catalog-filter-main[open] .catalog-filter-main-title:after {
  content: url(img/catalog/filter_main_open.svg);
}

.catalog-filter-main-title:after {
  content: url(img/catalog/filter_main.svg);
  padding-right: 10px;
  padding-left: 5px;
}

.catalog-filter-main-title-cat {
  border-left: 3px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  font-size: 14px;
  line-height: 17px;
  padding: 11px;
  margin-bottom: 18px;
  /* identical to box height */
  color: #EF5B70;
}

.catalog-filter-main-cat[open] > .catalog-filter-main-title-cat {
  margin-bottom: 0;
}

.catalog-filter-main-wrapper {
  position: relative;
}

.catalog-filter-item:first-child {
  padding-top: 0;
}

.catalog-filter-items {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 11px;
}

.catalog-filter-item {
  padding: 11px 0 0 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
}

.catalog-filter-item a {
  color: #6F6E6E;
}

.catalog-filter-advanced {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  list-style: none;
  cursor: pointer;
}

.catalog-filter-advanced-item summary::after {
  content: url(img/catalog/filter_advanced.svg);
  padding-right: 18px;
  padding-left: 8px;
}

.catalog-filter-advanced-item {
  position: relative;
  display: block;
}

.catalog-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-bottom: 96px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.pagination-item {
  padding: 12px;
}

.pagination-item a {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagination-item.active a,
.pagination-item a:hover {
  color: #EF5B70;
}

.top-product-row {
  padding-top: 128px;
  padding-bottom: 128px;
}

.product-img-wrapper {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  position: relative;
}

.product-img-item img {
  max-height: 724px;
}

.product-wrapper {
  position: relative;
}

.product-slide-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.product-slide-btn {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  color: #000;
  outline: none;
  border: none;
  cursor: pointer;
}

.product-desc-row {
  position: relative;
  margin-top: -54px;
  border: 1px solid #EAEAEA;
  background-color: #fff;
}

.product-desc-wrapper {
  padding: 64px 0;
  max-width: 642px;
  text-align: center;
  margin: 0 auto;
}

.product-category {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.product-category:after {
  display: block;
  content: '';
  border-bottom: 3px solid #F16D7F;
  width: 63px;
  margin: 12px auto;
}

.product-namme {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.product-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 32px;
  color: #5E5E5E;
}

.product-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 64px;
  color: #EF5B70;
}

.product-desc-wrapper hr {
  border: 1px solid #eaeaea;
  margin-bottom: 64px;
}

.product-purcharse-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .catalog-filter-advanced {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.btn {
  border: none;
  outline: none;
  padding: 16px 32px;
  margin: 16px;
  cursor: pointer;
}

.btn-product-cart {
  margin-top: 63px;
  border: 1px solid #FF6A6A;
  background-color: #fff;
  color: #F26376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 57px 8px 24px;
}

.btn-product-cart:before {
  content: url(img/cart_product.svg);
  margin-right: 22px;
}

.cart {
  padding-top: 96px;
  padding-bottom: 128px;
}

.cart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__products {
  width: 652px;
}

.cart__products-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.cart__products-footer button,
.cart__products-footer a {
  color: #000;
  padding: 17px 41px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  cursor: pointer;
  outline: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.cart__product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 306px;
  margin-bottom: 40px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart__product-item-desc {
  width: 100%;
  padding: 22px 22px 22px 32px;
}

.cart__product-item-desc-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__product-item-desc-header h2 {
  max-width: 262px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.cart__product-item-desc-header button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart__product-item-desc-main ul {
  list-style: none;
  padding: 42px 0 62px;
}

.cart__product-item-desc-main ul li {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  padding: 6px 0;
  color: #575757;
}

.cart__product-item-desc-main ul li .price {
  color: #EF5B70;
}

.cart__product-item-desc-main ul li .quantity {
  width: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
}

.cart__form {
  margin-left: 128px;
  width: 360px;
}

.cart__form fieldset {
  border: none;
  text-transform: uppercase;
}

.cart__form fieldset input {
  width: 100%;
  padding: 13px 17px;
  margin-top: 20px;
  text-align: left;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222;
  outline: none;
}

.cart__form fieldset input:focus {
  color: #B1B1B1;
}

.cart__form fieldset button {
  margin-top: 20px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  cursor: pointer;
  outline: none;
  padding: 10px 14px;
}

.cart__form-total {
  margin-top: 57px;
  background-color: #F5F3F3;
  padding: 39px 43px 42px 44px;
}

.cart__form-total p {
  text-align: right;
  color: #4A4A4A;
}

.cart__form-total-sub {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 12px;
}

.cart__form-total-sub span {
  margin-left: 16px;
}

.cart__form-total-sub span:before {
  content: '$';
}

.cart__form-total-grand {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 23px;
  color: #222222;
}

.cart__form-total-grand span {
  margin-left: 16px;
  color: #F16D7F;
  font-weight: bold;
}

.cart__form-total-grand span:before {
  content: '$';
}

.cart__form-checkout {
  border-top: 1px solid #E2E2E2;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart__form-checkout input {
  padding: 15px 41px;
  background-color: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  outline: none;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.registration {
  padding: 64px 0 96px;
}

.registration__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.registration__form {
  width: 360px;
}

.registration__form form ::-webkit-input-placeholder {
  /* Chrome */
  color: #B1B1B1;
}

.registration__form form :-ms-input-placeholder {
  /* IE 10+ */
  color: #B1B1B1;
}

.registration__form form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #B1B1B1;
}

.registration__form form :-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #B1B1B1;
}

.registration__form form fieldset {
  border: none;
}

.registration__form form .your-name,
.registration__form form .login-details {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__form form .your-name input,
.registration__form form .login-details input {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 13px 17px;
  text-align: left;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.registration__form form .your-name button,
.registration__form form .login-details button {
  margin-top: 59px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #FFFFFF;
  background-color: #F16D7F;
  padding: 16px 29px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.registration__form form .your-name button img,
.registration__form form .login-details button img {
  margin-left: 20px;
}

.registration__form form .your-name button:hover,
.registration__form form .login-details button:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.registration__form form .your-name .notification,
.registration__form form .login-details .notification {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
}

.registration__form form .male {
  margin: 31px 0 33px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration__form form .male label {
  padding-right: 20px;
}

.registration__form form .male input {
  margin-right: 10px;
}

.registration__info {
  width: 652px;
}

.registration__info h2,
.registration__info p,
.registration__info li {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 16px;
}

.registration__info li:before {
  content: url(img/v.svg);
  width: 20px;
  height: 16px;
  margin-right: 22px;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.registration__info li:hover:before {
  display: inline-block;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.registration__info li:not(:hover):before {
  display: inline-block;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.registration__info h2,
.registration__info p {
  padding-bottom: 21px;
}

.registration__info ul {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */